body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
    margin: 0;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

h1 {
    color: #333;
    font-size: 26px;
    margin-bottom: 20px;
}

input {
    width: calc(100% - 22px);
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #28a745;
    outline: none;
}

button {
    padding: 12px 20px;
    border: none;
    background: linear-gradient(135deg, #28a745, #218838);
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s;
}

button:hover {
    background-color: #218838;
}

.recipe-container {
    margin-top: 20px;
}

.recipe-container div {
    background: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.recipe-container div:hover {
    transform: translateY(-5px);
}

.recipe-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.recipe-container h3 {
    margin-top: 10px;
    font-size: 20px;
    color: #333;
}

.recipe-container p {
    font-size: 14px;
    color: #555;
}
